priority -40

snippet if "multiline if"
if (${1:cond}) {$0
}
endsnippet

snippet ife "multiline if-else"
if (${1:cond}) {$0
} else {
}
endsnippet

snippet (* "single-line anonymous arrow function" i
(${1:param} => $0)
endsnippet

snippet (_ "multiline anonymous arrow function" i
(${1:param} => {$0
})
endsnippet
