priority -40

snippet if "multiline if"
if (${1:cond}) {$0
}
endsnippet

snippet if "multiline if-else"
if (${1:cond}) {$0
} else {
}
endsnippet

snippet (* "anonymous arrow function" i
(${1:param} => {$0
})
endsnippet
