ServerAliveInterval 300
ServerAliveCountMax 3

# grox
Host grox
  HostName home.twoedge.com
  User brett

# jibboo
Host jibboo
  HostName 192.168.1.1
  User brett

# minor7th
Host m7
  HostName internal.franklinestimating.com
  Port 2217
  User brett

# mayurs-desktop
Host mayur
  HostName internal.franklinestimating.com
  Port 2214
  User brettr

# darkknight as brettr
Host dk-b
  HostName darkknight.franklinestimating.com
  Port 2218
  User brettr

# darkknight as git
Host dk-g
  HostName darkknight.franklinestimating.com
  Port 2218
  User git

# darkknight as svn
Host dk-s
  HostName darkknight.franklinestimating.com
  Port 2218
  User svn

# darkknight as fa
Host dk-fa
  HostName darkknight.franklinestimating.com
  Port 2218
  User fa

# darkknight as franklin
Host dk-f
  HostName darkknight.franklinestimating.com
  Port 2218
  User franklin

Host heroku.brettr
  HostName heroku.com
  IdentityFile /home/brett/.ssh/identity.heroku.brettr
  IdentitiesOnly yes

Host heroku.gregh
  HostName heroku.com
  IdentityFile /home/brett/.ssh/identity.heroku.gregh
  IdentitiesOnly yes

Host heroku.darkerthan70
  HostName heroku.com
  IdentityFile /home/brett/.ssh/identity.darkerthan70
  IdentitiesOnly yes

Host jd-b
  HostName 71.199.2.204
  Port 2002
  User brett
