ServerAliveInterval 300
ServerAliveCountMax 3

# glikker
Host glikker
  HostName twoedge.xns01.com
  Port 7020
  User brett

# jibboo
Host jibboo
  HostName 192.168.1.1
  Port 7001
  User brett

# jibboo as sentinel
Host jibboo-s
  HostName 192.168.1.1
  Port 7001
  User sentinel

Host heroku.brettr
  HostName heroku.com
  IdentityFile /home/brett/.ssh/identity.heroku.brettr
  IdentitiesOnly yes

Host heroku.gregh
  HostName heroku.com
  IdentityFile /home/brett/.ssh/identity.heroku.gregh
  IdentitiesOnly yes

Host heroku.darkerthan70
  HostName heroku.com
  IdentityFile /home/brett/.ssh/identity.darkerthan70
  IdentitiesOnly yes

Host github.allisont
  HostName github.com
  IdentityFile /home/brett/.ssh/identity.allisont
  IdentitiesOnly yes

Host jd-b
  HostName 98.202.90.34
  Port 2002
  User brett

Host jenkins
  HostName jenkins.franklinestimating.com
  User ubuntu
