priority -40


snippet % "<% %>" i
<% $0 %>
endsnippet

snippet = "<%= %>" i
<%= $0 %>
endsnippet

snippet end "<% end %>" i
<% end %>
endsnippet

snippet lin "link" i
<%= link ${1:"${2:Submit}"}, to: ${3:"${4:/users}"}, method: ${5::delete} %>
endsnippet
